In [21]:
import pandas as pd
import numpy as np 
import sklearn as sns
import matplotlib.pyplot as plt
data = pd.read_csv("BostonHousing.csv")
data.head(3)

      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8  392.83   4.03  34.7

In [22]:
data.shape

(506, 14)

In [23]:
# now  we sep the input and output data 
input_data = data.iloc[:,:-1] # all rows all coulumn expect last one -1 is used for lastone
input_data.head(3) # there is no  medv column which is house price

      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio       b  lstat
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3  396.90   4.98
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8  396.90   9.14
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8  392.83   4.03

In [24]:
output_data = data["medv"]
# output_data # ye hmna donooutput input la li
# now ho to to do train test split

In [25]:
from sklearn.model_selection import train_test_split
# ye hm 4 output data ga ak to input and jissa usko test krain ga or asa hi output
x_train,x_test,y_train,y_test = train_test_split(input_data,output_data,train_size=0.25) # recent files check
x_train # asa hui sbka data achuka ha ab 4 data achuka ha

         crim    zn  indus  chas    nox     rm    age     dis  rad  tax  ptratio       b  lstat
260   0.54011  20.0   3.97     0  0.647  7.203   81.8  2.1121    5  264     13.0  392.80   9.59
294   0.08199   0.0  13.92     0  0.437  6.009   42.3  5.5027    4  289     16.0  396.90  10.40
375  19.60910   0.0  18.10     0  0.671  7.313   97.9  1.3163   24  666     20.2  396.90  13.44
24    0.75026   0.0   8.14     0  0.538  5.924   94.1  4.3996    4  307     21.0  394.33  16.30
101   0.11432   0.0   8.56     0  0.520  6.781   71.3  2.8561    5  384     20.9  395.58   7.67
..        ...   ...    ...   ...    ...    ...    ...     ...  ...  ...      ...     ...    ...
262   0.52014  20.0   3.97     0  0.647  8.398   91.5  2.2885    5  264     13.0  386.86   5.91
40    0.03359  75.0   2.95     0  0.428  7.024   15.8  5.4011    3  252     18.3  395.62   1.98
8     0.21124  12.5   7.87     0  0.524  5.631  100.0  6.0821    5  311     15.2  386.63  29.93
34    1.61282   0.0   8.14     0  0.538  6.096   96.9  3.7598    4  307     21.0  248.31  20.34
232   0.57529   0.0   6.20     0  0.507  8.337   73.3  3.8384    8  307     17.4  385.91   2.47

[126 rows x 13 columns]

In [27]:
x_train.shape,y_train.shape

((126, 13), (126,))

In [28]:
x_test.shape,y_test.shape # sara data 25 per ho chuka ha ab

((380, 13), (380,))

data is split between training and testing we give training daata while building the model and give testing data while training the model